<app-sidebar></app-sidebar>

<div class="main">
    <app-header></app-header>
    <div class="body">
        <div class="row">
            <div class="col-lg-12">
                <app-table-filter></app-table-filter>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12">
                <table class="table  table-borderless">
                    <thead class="tableHeader w-100">
                        <tr class="text-center">
                            <th width="5%">Date</th>
                            <th width="15%">Invoice No.</th>
                            <th width="15%">Resident ID</th>
                            <th width="15%">Resident Name</th>
                            <th width="20%">Building Name</th>
                            <th width="5%">Amount</th>
                            <th width="25%">Payment Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let table of data">
                            <td>{{table.date}}</td>
                            <td>{{table.invoice}}</td>
                            <td>{{table.residentId}}</td>
                            <td>{{table.residentName}}</td>
                            <td>{{table.buildingName}}</td>
                            <td>{{table.amount}}</td>
                            <td class="d-flex align-items-center pl-0 pr-0">
                                <ng-container *ngIf="table.paymentStatus == 'UNPAID'">
                                    <span class="unpaid col text-center">UNPAID</span><button
                                        class="btn btn-primary" (click)="invoicePayment(table)">PAY NOW</button>
                                </ng-container>
                                <ng-container *ngIf="table.paymentStatus == 'PAID'">
                                    <span class="paid col text-center">PAID</span><button class="btn btn-primary">VIEW DETAILS</button>
                                </ng-container>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>