<section class="home-background">
<div class="container">
  <div class="row" #testing>
    <div class="col-6">
      <img src="././assets/images/carousel1.png">
    </div>
    <div class="col-6">
      <p>A global technology development company with a focus on Blockchain, Machine learning, Cryptocurrency and the Internet of Things. We partner with large corporations and specialized groups on global development and consulting projects in our key development areas of Fintech, Digital media, Financial services, Cyber security and Healthcare.</p>
    </div>
  </div>
  <div class="row" #testing>
    <div class="col-6">
      <img src="././assets/images/carousel2.png">
    </div>
    <div class="col-6">
      <p>Our mission is to deliver blockchain based technology platforms and services around the globe and utilize the application of blockchain and enhance the security of data and financial transactions and introduce its smart contract protocols into powerful new industry verticals.</p>
    </div>
  </div>
  <div class="row" #testing>
    <div class="col-6">
      <img src="././assets/images/carousel3.png">
    </div>
    <div class="col-6">
      <p>Our Artificial Intelligence (A.I) services redefine the way businesses operate with the customers.We deliver end to end AI integrated applications covering wide range of
        industries such as Banking, Insurance, E-commerce, Automobiles, Human Resource, Health, Telecom, Logistics. Our AI services includes Natural Language Processing, Deep Learning,
        Neural networks, Reinforcement Learning, Predictive Analytics and Computer Vision
        that creates competitive edge business solutions.</p>
    </div>
  </div>
</div>
</section>