    .blog
    {
      line-height: 40px;
      font-size: 21px;
    }

    .btn-invite{
      background: transparent linear-gradient(103deg, #6966E9 0%, #69B1E3 100%) 0% 0% no-repeat padding-box;
      color:#fff;
    }
    