.transaction-container {
    padding: 30px;
}

th,
td {
    padding: 15px;
}

tr {
    vertical-align: middle !important;
    text-align: center !important;
}

td {
    letter-spacing: 0.01em;
    color: #000000;
    font-weight: 300;
    font-size: 12px;
    line-height: 23px;
}
th {
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #000000;
}

.btn-primary {
    background: #42a4ec !important;
    border-radius: 5px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 9px;
    border: none;
}

.table-height {
    height: 500px;
    overflow-y: scroll;
    /* overflow-x: hidden; */
    overflow-x: hidden;
  }

  thead {
    position:sticky;
    top:0;
  }
