.fourth-banner{
	 background-image: url("../images/fourth-bg_02.png");
     transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
   padding: 93px 20px 108px 20px;
    background-repeat: no-repeat;
        background-size: cover;
}
.fourth-banner h2{
color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 1.3em;
    }
.fourth-banner h3{
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.6em;
        padding: 8px 0 10px 0;
}
.fourth-banner p{
color: #FFFFFF;
    font-family: "Lato", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875em;
    padding: 20px 0 20px 0;
}
.banner-padding{
	padding: 0 0 0 173px;
}
.section-title2{
     color: #fff;
    font-family: "Montserrat", Sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 1.3em;
    position: relative;
}
.section-title2:before{
     content: "";
    display: block;
    width: 130px;
    height: 3px;
    background: #fff;
    left: -160px;
    top: 31px;
    position: absolute;
}
.custom-button1{
     font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1em;
    border: 2px solid #fff;
    border-radius: 5px 5px 5px 5px;
    padding: 18px 50px 18px 50px;
    color: #fff;
    background: transparent;
    font-family: "Lato", Sans-serif;
}
.custom-button1:hover{
	background: #613898;
}
