.service-banner{
	background-image: url("../images/service.png");
   height: 450px;
    /* min-height: 100vh; */
    background-repeat: no-repeat;
    /* background-position: center top; */
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #fff;
}
.service-section{
	padding: 100px 0;
}
.custom-pills .nav-link.active, .nav-pills .show>.nav-link{
	  color: #fff !important;
    background-color: #613898;
    font-family: "Montserrat", Sans-serif;
    /* box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3); */
    font-size: 14px;
    font-weight: 500;
    padding: 20px;
    border-radius: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border-radius: 4px;
}
.custom-nav-item{
	/*border-bottom: 1px solid #ebebeb;*/
}
.custom-pills li a{
	font-family: "Montserrat", Sans-serif;
    /* box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3); */
    font-size: 14px;
    font-weight: 500;
    color: #383838;
    line-height: 1.8em;
    padding: 20px;
}
.custom-tab-pane p{
	color: #797979 !important;
    font-family: "Lato", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875em;
    text-align: justify;
}
.custom-tab-pane ul li{
	color: #6A7680 !important;
    font-family: "Lato", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875em;
    text-align: justify;

}
.custom-tab-pane h2{
	color: #0099FF;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.333em;
}
.custom-tab-pane h5,h6{
color:  #613898;
    font-family: "Montserrat", Sans-serif;
    line-height: 1.333em;
    font-weight: 700;
    font-size: 18px;
 }
/* .custom-pills{
     border: 1px solid #ebebeb; 
     }
*/

.our-custom-fill .active {
    /*box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);*/
    background: #613898;
    color: #fff;
}
.our-custom-fill .active:after {
    content: "";
    position: relative;
    bottom: -43px;
    left: 0;
    right: 0;
    border: 15px solid transparent;
    border-top-color: #613898;
}
.ourservice-list {
    color: #000;
    border: 1px solid #e8e5e5 !important;
    /* border-radius: initial; */
    border-top-left-radius: unset !important;
    border-top-right-radius: unset !important;
    background-color: #ffffff;
    padding: 0px 10px 6px 9px;
    margin: 0 12px 38px 0px;
    width: 18%;
}
.custom-tab-pane{
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 40px 66px 81px 57px;
    min-height: 250px;
}
.our-custom-fill h5{
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.333em;
    padding: 30px 13px 10px 13px;
        color: #0099FF;
}
.our-custom-fill .active h5{
    color: #fff;
}