$primer-color: #00A9EC;
$second-color: #082871;

$white-color:#ffffff;  
$shadow-color:rgba(0, 0, 0, 0.2901960784313726);
$transparent-color:transparent;
$red-color:#FF0000;
$dark-color:#273142;
$home-color:#E7EEF0;
$box-color:rgba(69, 129, 194, 0.3176470588235294);
$scroll-color:#6e6e6e;
$scroll-outline:#444;
$black-color:#000;
$tr-color:#E2E2E2;
$th-color:#EBF4FF;


$assetPath:"/assets/images";