@import "common";

// ********************login section scss start********************

.login-section{
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    // padding: 25px 0;
    h3{
        font-size: 30px;
    }
    h6{
        font-size: 20px;
    }
    .section-row{
        background: #ffffff;
        border-radius: 0px 50px 50px 0px;
    max-width: 950px;
    min-height: 550px;
    height: 550px;
    // width: 950px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px $shadow-color;
    }
    // ********************login rightside background image scss start********************

    .login-background{
    
        background-image: url("#{$assetPath}/login-background.png");
        background-size: cover;
        top: 26px;
        bottom: 0;
        opacity: 1;
        width: 100%;
        z-index: 999;
        min-height: 500px;
        height: 500px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white-color;
        .line{
            width: 60%;
            border-bottom: 2px solid $white-color;
        }
      
    }
    // ********************login rightside background image scss start********************

    // ********************login leftside input filed scss start********************

    .form-padding{
        text-align: center;
        padding: 20px 50px 0px 50px;
        /* border-radius: 10px 0 0 10px; */
        width: 100%;
        align-self: center;
        }
    .login-button{
        @include button;
        // background: transparent linear-gradient(135deg, #00A9EC 0%, #082871 100%) 0% 0% no-repeat padding-box;
        border-radius: 40px;
        text-align: center;
        &:hover {
            background: none;
            border: 1px solid $primer-color;
             color: $dark-color;
        }
    }
    // ********************login leftside input filed scss end********************

}

// ********************login section scss start********************