<div class='banner row m-0 poppins-font align-items-center'>
    <div class ="col-lg-3">
      <h5  *ngIf="orgemp" class="texthide font-20 mb-0">{{orgemp[0]?.organization_id?.organization_name}}</h5>
    </div>
  <div class="col-lg-9">

    <button type="button" class="btn btn-invite font-12" (click)="addemployee()">  Add New Employee  </button>
  </div>
</div>

<div class="m-4">
  <h5 class="poppins-font font-20">Employees</h5>
</div>

<div class="row m-0">
  <div class="col-lg-12">
    <div [ngStyle]="{'max-height.px': divheight}" class="tablestyle">
      <table  class="table table-striped emp-table poppins-font text-left"  >
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Employee ID</th>
            <th scope="col">Email Name</th>
            <th scope="col">Role</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody class="font-color font-14 fw-500" >
          <tr *ngFor="let emp of orgemp, let i = index">
          <td>{{i+1}}</td>
            <td>{{emp.Name}}</td>
            <td>{{emp.EmailId}}</td>
            <td>{{emp.roleid.role_name}}</td>
            <td><a (click)="Showempdetails(i)"><i class="fa fa-eye pointer"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>


<!-- {{createusers?.message}} -->
<!-- <table class="table table-bordered">
    <thead>
      <tr>
        
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
   
      <tr *ngFor="let emp of orgemp">
        
        <td><a href="">{{emp.Name}}</a></td>
        <td>{{emp.EmailId}}</td>
        <td>{{emp.roleid.role_name}}</td>
        <td><a href=""><i class="fa fa-eye" aria-hidden="true"></i></a></td>
      </tr>
     
   
  </table> -->

  <ng-template #addingEmployee>
    <div *ngIf="!createusers && !showempsucess" >
      <div class="row  just-btw m-0">
        <h5 class="font-20 font-color">Add Employee</h5>
        <i class="material-icons pointer" matDialogClose="yes">close</i>
      </div>
    <form #org="ngForm" (ngSubmit)="creatingNewEmployee(org.value)" class="groupform">
        <div class="form-group mt-3">
           
            <input type="text" class="form-control " id="name" placeholder="Employee Name" name="contact_person_name" ngModel>
          </div>
        <!-- <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control col-md-9" id="email" placeholder="Enter email" name="contact_person_email" ngModel>
        </div> -->

        <div class="form-group mt-4">
            <!-- <img class="faicons" height="25px" src="assets/images/mail.svg" width="18px"> -->
        
            <input class="form-control" type="text" placeholder="Email Address"
              (keyup)="onBlurEmail(contact_person_email)" [(ngModel)]="contact_person_email" name="contact_person_email"
              oninput="this.value = this.value.toLowerCase()"
              pattern="([A-Za-z]|[0-9])[A-Za-z0-9.]+[A-Za-z0-9]@((?:[-a-z0-9]+\.)+[a-z]{2,})"
              #emailaddr="ngModel" [ngModelOptions]="{ updateOn: 'change' }" required>
            <small *ngIf="emailvalidation" class="text-danger pl-3 ">{{alert}} </small>
            <div *ngIf="emailaddr.errors && (emailaddr.dirty || emailaddr.touched || org.submitted)">
              <small *ngIf="emailaddr.errors.required" class="text-danger" >Email
                is requried</small>
              <small *ngIf="emailaddr.errors.pattern" class="text-danger">Email
                is invalid</small>
              <!-- <small *ngIg="emailvalidation" class="text-danger pl-3">Email
                is already Exists</small> -->
            </div>
          </div>
        <div class="form-group">
            <label for="role">Role:</label>
            <select  class="form-control" name="roleid" ngModel placeholder="--Select Role--">
                <option>Select Role</option>
                <option *ngFor="let role of rolesemp" class="poppins-font" [value]="role._id">{{role.role_name}}</option>
         </select>
           
        </div>
        <div class="form-group">
       
            <input type="hidden" class="form-control"  name="organization_id" [(ngModel)]="orgemp[0].organization_id._id" ngModel>
          </div>
          
          
        
        <button type="submit" class="btn btn-invite saveemp_btn">Save</button>
      </form>
    </div>
    <div *ngIf="showempsucess">
      <div>
        <button type="button" class="close"  matDialogClose="yes"  data-dismiss="alert">&times;</button>
      </div>
      <div class="col-lg-6 m-auto">
        <img src="assets/images/empsuccess.png"  width="100%">
       
      </div>
     
      <div class="mt-3 text-center">
        <h5 class="font-20 font-color">Employee Added Successfully</h5>
      </div>
    
    
    </div>
  </ng-template>

  <!-- ......Show Employee Details........... -->

  <ng-template #empdetails >

    <div class="row poppins-font">
      <div class="col-lg-10 font-weight-bold">
        <p>Employee Details</p>
      </div>

      <div class="col-lg-2 text-right">
        <i class="material-icons pointer" matDialogClose="yes">close</i>
      </div>
    </div>
    <div class="poppins-font font-color fw-500 row">
      <div class="col-lg-2">
        <div>
          <ngx-avatar [name]="fetchdetails.Name" value="28%" size="55" [round]="false" [cornerRadius]="8">
          </ngx-avatar>
        </div>
      </div>
      <div class="col-lg-10">
    
        <div class="row font-14">
          <div class="col-lg-4">
            <p>Employee ID</p>
          </div>
          <div class="col-lg-2">
            :
           </div>
    
           <div class="col-lg-6">
             <p>{{fetchdetails.Name}}</p>
           </div>
        </div>
        <div class="row font-14">
          <div class="col-lg-4">
            <p>Role</p>
          </div>
          <div class="col-lg-2">
            :
           </div>
    
           <div class="col-lg-6">
             <p>{{fetchdetails.roleid.role_name}}</p>
           </div>
        </div>
    
        <div class="row font-14">
          <div class="col-lg-4">
            <p>Employee Name</p>
          </div>
          <div class="col-lg-2">
            :
           </div>
    
           <div class="col-lg-6">
             <p>{{fetchdetails.Name}}</p>
           </div>
        </div>
    
        <div class="row font-14">
          <div class="col-lg-4">
            <p>Info</p>
          </div>
          <div class="col-lg-2">
            :
           </div>
    
           <div class="col-lg-6">
             <p>lorem ipsum lorem ipsum</p>
           </div>
        </div>
      </div>
      
      <div class="row font-14">
        <div class="col-lg-4">
          <p>Contact Phonenumber</p>
        </div>
        <div class="col-lg-2">
          :
         </div>
  
         <div class="col-lg-6">
           <p>{{fetchdetails?.organization_id?.contact_person_phonenumber}}</p>
         </div>
      </div>

      <div class="row font-14">
        <div class="col-lg-4">
          <p>Alternate Number</p>
        </div>
        <div class="col-lg-2">
          :
         </div>
  
         <div class="col-lg-6">
           <p>{{fetchdetails?.organization_id?.alternate_phonenumber}}</p>
         </div>
      </div>
    
    </div>

  </ng-template>