<section>
  <div id="viewport" >
    <!-- Sidebar -->
    <div id="sidebar" class="d-none d-sm-none d-md-block d-lg-block">
      <header>
        <img src="././assets/images/logo1.png">
      </header>
      <nav class="navbar navbar-expand-lg navbar-expand-md navbar-light p-0 navbar-top">
        <ul class="flex-column w-100 mobile-scroll new-sidebar" id="style-4">
          <li class="nav-item" data-target="#navbarSupportedContent"  (click)="routerchanges('store/dashboard')" [ngClass]="{'active': router.url.includes('dashboard')}">
            <a class="nav-item">Dashboard</a></li>
          <li class="nav-item" data-target="#navbarSupportedContent" *ngIf="storeproducts?.indexOf('FX') != -1"  (click)="routerchanges('store/foreignexchange')" [ngClass]="{'active': router.url.includes('foreignexchange')}">
            <a class="nav-item">Foreign Exchange</a></li>
            <li data-target="#navbarSupportedContent" *ngIf="storeproducts.indexOf('IC')!= -1 || storeproducts.indexOf('TT')!= -1 || storeproducts.indexOf('ID')!= -1" (click)="routerchanges('store/remittance')"  [ngClass]="{'active': router.url.includes('remittance')}">Remittance</li>
          <li data-target="#navbarSupportedContent" *ngIf="storeproducts?.indexOf('DP') != -1" (click)="routerchanges('store/dubaipolice')" [ngClass]="{'active': router.url.includes('dubaipolice')}" >Dubai Police</li>
          <li data-target="#navbarSupportedContent" *ngIf="storeproducts?.indexOf('WU') != -1" (click)="routerchanges('store/westernunion')"  [ngClass]="{'active': router.url.includes('westernunion')}">Western Union</li>
          <li data-target="#navbarSupportedContent" *ngIf="storeproducts?.indexOf('AA') != -1" (click)="routerchanges('store/arabia')" [ngClass]="{'active': router.url.includes('arabia')}">Air Arabia</li>
          <li data-target="#navbarSupportedContent" *ngIf="storeproducts?.indexOf('NB') != -1" (click)="routerchanges('store/nationalbond')"  [ngClass]="{'active': router.url.includes('nationalbond')}">National Bond</li>
          <li class="nav-item" data-target="#navbarSupportedContent"  *ngIf="username?.roltyp =='SUPERVISOR'"  (click)="routerchanges('store/reports')" [ngClass]="{'active': router.url.includes('reports')}">
            <a class="nav-item">Reports</a></li>              </ul>
      </nav>
    </div>
    <div id="content" class="d-none d-sm-none d-md-block d-lg-block">
      <div class="container-fluid header-nav-fixed">
      <div class="row">
        <div class="col-lg-6 col-md-6 first-transform">
          <div class=" d-md-block d-lg-block">
          <div class="pl-3 d-flex mr-auto home-bar">
            <div class="p-2 text-dark home-background1" >
              <span class="material-icons cursor" (click)="routerchanges('store/dashboard')">home</span></div>
            <div class="p-2 text-dark home-background2" href="#"><span
                class="text-capitalize">{{currentRouter}}</span></div>
                <div class="p-2 text-dark home-background3" href="#"><span class="text-capitalize text-white">{{currentproduct}}</span></div>
          </div>
        </div>
        </div>
        <div class="col-lg-6 col-md-6 text-right">
          <p class="mb-0 desktop-view">{{ time | date: 'dd MMM yyyy  hh:mm:ss a' }}</p>
          <div class="bs-example cursor desktop-view1">
            
            <div class="dropdown">
              <a  class="dropdown-toggle profile-name" data-toggle="dropdown">
                <ngx-avatar width="40px" height="40px"  name={{username.loginid}} class="custom-avatar"></ngx-avatar>
    
                {{username.loginid}}  | {{username.roltyp}} </a>
              <div class="dropdown-menu login-menu-dropdown">
                  <a  (click)="logOut()"  class="dropdown-item">Logout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="d-sm-block d-md-none d-lg-none">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#"> <img src="././assets/images/logo1.png" width="98px"></a>
        <div class="bs-example cursor">
          <div class="dropdown">
            <a  class="dropdown-toggle profile-name" data-toggle="dropdown">
              <ngx-avatar width="40px" height="40px"  name={{username.loginid}} class="custom-avatar"></ngx-avatar>
  
              {{username.loginid}}  | {{username.roltyp}} </a>
            <div class="dropdown-menu">
                <a  (click)="logOut()"  class="dropdown-item">Logout</a>
            </div>
          </div>
        </div>
      </nav>
      <section class="navbar-color">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 p-0">
              <nav class="navbar navbar-dark dark-line">
                <a class="navbar-brand p-0" href="index.html">
                  <!-- <span class="material-icons cursor" (click)="routerlink('dashboard','dashboard')">home</span> -->
                </a>
                <button class="navbar-toggler toggler-color" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <img src="././assets/images/menu.png">
                  </button>
              </nav>
              <div class="pos-f-t">
                <div class="collapse" id="navbarNavAltMarkup">
                  <div class="bg-color">
                    <ul class="flex-column w-100 mobile-scroll new-sidebar" id="style-4">
                      <li class="nav-item" data-target="#navbarSupportedContent"  (click)="routerchanges('store/dashboard')" [ngClass]="{'active': router.url.includes('dashboard')}">
                        <a class="nav-item">Dashboard</a></li>
                      <li class="nav-item" data-target="#navbarSupportedContent" *ngIf="storeproducts?.indexOf('FX') != -1"  (click)="routerchanges('store/foreignexchange')" [ngClass]="{'active': router.url.includes('foreignexchange')}">
                        <a class="nav-item">Foreign Exchange</a></li>
                        <li data-target="#navbarSupportedContent" *ngIf="storeproducts.indexOf('IC')!= -1 || storeproducts.indexOf('TT')!= -1 || storeproducts.indexOf('ID')!= -1" (click)="routerchanges('store/remittance')"  [ngClass]="{'active': router.url.includes('remittance')}">Remittance</li>
                      <li data-target="#navbarSupportedContent" *ngIf="storeproducts?.indexOf('DP') != -1" (click)="routerchanges('store/dubaipolice')" [ngClass]="{'active': router.url.includes('dubaipolice')}" >Dubai Police</li>
                      <li data-target="#navbarSupportedContent" *ngIf="storeproducts?.indexOf('WU') != -1" (click)="routerchanges('store/westernunion')"  [ngClass]="{'active': router.url.includes('westernunion')}">Western Union</li>
                      <li data-target="#navbarSupportedContent" *ngIf="storeproducts?.indexOf('AA') != -1" (click)="routerchanges('store/arabia')" [ngClass]="{'active': router.url.includes('arabia')}">Air Arabia</li>
                      <li data-target="#navbarSupportedContent" *ngIf="storeproducts?.indexOf('NB') != -1" (click)="routerchanges('store/nationalbond')"  [ngClass]="{'active': router.url.includes('nationalbond')}">National Bond</li>
                      <li class="nav-item" data-target="#navbarSupportedContent"  *ngIf="username?.roltyp =='SUPERVISOR'"  (click)="routerchanges('store/reports')" [ngClass]="{'active': router.url.includes('reports')}">
                        <a class="nav-item">Reports</a></li>              </ul>
                  </div>
                </div>
    
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
      <div class="container-fluid">
        <div class="col-sm-12">
        <router-outlet></router-outlet>
      </div>
      </div>
   
  </div>
</section>





<!-- <nav class="navbar fixed-top navbar-expand-lg navbar-expand-md bg-white custom-navbar mobile-hide">
  <a class="navbar-brand invisible" href="#"> <img src="././assets/images/logo1.png" class="invisible mobile-image"></a>
  <div class="collapse navbar-collapse">
    <div class="pl-3 d-flex mr-auto home-bar">
      <div class="p-2 text-dark home-background1" >
        <span class="material-icons cursor" (click)="routerchanges('store/dashboard')">home</span></div>
      <div class="p-2 text-dark home-background2" href="#"><span
          class="text-capitalize">{{currentRouter}}</span></div>
          <div class="p-2 text-dark home-background3" href="#"><span class="text-capitalize text-white">{{currentproduct}}</span></div>
      </div>

    <span class="navbar-text">
      <div class="bs-example">
        <div class="dropdown">
          <p>{{ time | date: 'dd MMM yyyy  hh:mm:ss a' }}</p>
          <a  class="dropdown-toggle profile-name" data-toggle="dropdown">
            <ngx-avatar width="40px" height="40px"  name={{username.loginid}} class="custom-avatar"></ngx-avatar>

            {{username.loginid}}  | {{username.roltyp}} </a>
          <div class="dropdown-menu">
              <a  (click)="logOut()"  class="dropdown-item">Logout</a>
          </div>
        </div>
      </div>
    </span>
  </div>
</nav>
<div class="underline mobile-hide"></div>
<section>
  <div class="container-fluid">
    <div class="d-sm-block d-lg-none d-md-none">
      <nav class="navbar">
        <a class="navbar-brand" href="#"> <img src="././assets/images/logo1.png" class="mobile-responsive-image"></a>
        <div class="bs-example">
          <div class="dropdown">
            <p class="mobile-time">{{ time | date: 'dd MMM yyyy  hh:mm:ss a' }}</p>
            <a href="#" class="dropdown-toggle profile-name" data-toggle="dropdown">
              <ngx-avatar width="40px" height="40px"  name={{username.loginid}} class="custom-avatar"></ngx-avatar>
              {{username.loginid}}</a>
            <div class="dropdown-menu">
              <a  (click)="logOut()"  class="dropdown-item">Logout</a>
            </div>
          </div>
        </div>
      </nav>

    </div>
  
    <div class="row">
      <div class="col-lg-2 col-md-2 p-0 col-sm-12">
       
        <div class="sidenav-color">
          <div class="div-logo">
            <img src="././assets/images/logo1.png" class="mobile-hide mobile-image">
          </div>
          <nav class="navbar navbar-expand-lg navbar-expand-md navbar-light p-0 navbar-top">
          
            <div class="d-sm-block d-md-none">
              <div class="d-flex">
                <div class="p-2 text-dark mobile-home-background1" (click)="routerchanges('store/dashboard')" >
                  <span class="material-icons">home</span></div>
                <div class="p-2 text-dark mobile-home-background2" href="#"><span
                    class="text-capitalize">{{currentRouter}}</span></div>
              </div>
            </div>
      
            <button class="navbar-toggler mobile-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <img src="././assets/images/menu.png">
            </button>

            <div class="main-list collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="flex-column w-100 mobile-scroll" id="style-4">
                <li class="nav-item" data-target="#navbarSupportedContent"  (click)="routerchanges('store/dashboard')" [ngClass]="{'active': router.url.includes('dashboard')}">
                  <a class="nav-item">Dashboard</a></li>
                <li class="nav-item" data-target="#navbarSupportedContent" *ngIf="storeproducts?.indexOf('FX') != -1"  (click)="routerchanges('store/foreignexchange')" [ngClass]="{'active': router.url.includes('foreignexchange')}">
                  <a class="nav-item">Foreign Exchange</a></li>
                  <li data-target="#navbarSupportedContent" *ngIf="storeproducts.indexOf('IC')!= -1 || storeproducts.indexOf('TT')!= -1 || storeproducts.indexOf('ID')!= -1" (click)="routerchanges('store/remittance')"  [ngClass]="{'active': router.url.includes('remittance')}">Remittance</li>
                <li data-target="#navbarSupportedContent" *ngIf="storeproducts?.indexOf('DP') != -1" (click)="routerchanges('store/dubaipolice')" [ngClass]="{'active': router.url.includes('dubaipolice')}" >Dubai Police</li>
                <li data-target="#navbarSupportedContent" *ngIf="storeproducts?.indexOf('WU') != -1" (click)="routerchanges('store/westernunion')"  [ngClass]="{'active': router.url.includes('westernunion')}">Western Union</li>
                <li data-target="#navbarSupportedContent" *ngIf="storeproducts?.indexOf('AA') != -1" (click)="routerchanges('store/arabia')" [ngClass]="{'active': router.url.includes('arabia')}">Air Arabia</li>
                <li data-target="#navbarSupportedContent" *ngIf="storeproducts?.indexOf('NB') != -1" (click)="routerchanges('store/nationalbond')"  [ngClass]="{'active': router.url.includes('nationalbond')}">National Bond</li>
                <li class="nav-item" data-target="#navbarSupportedContent"  *ngIf="username?.roltyp =='SUPERVISOR'"  (click)="routerchanges('store/reports')" [ngClass]="{'active': router.url.includes('reports')}">
                  <a class="nav-item">Reports</a></li>              </ul>
            </div>
          </nav>
        </div>

      </div>
      <div class="col-lg-10 col-md-10 col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section> -->