.top-header {
    background-color:#131313;
    padding: 8px 0;
    color: #fff!important;
    font-size: 13px;
}
.top-header ul {
  list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}
.top-header ul li{
  padding: 0 20px 0 0px;
  font-size: 16px;
}
.top-header ul li a{
  color: #fff;
}
.header{
  border-bottom: 1px solid #131313;
}
.nav-menu {
  background: #ffffff;
  position:relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  font-size: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0px 4px 50px 0px rgba(150, 170, 187, 0.2);

  

   }
   
  .nav-menu.sticky-top {
    -webkit-box-shadow: 0px 4px 50px 0px rgba(150, 170, 187, 0.2);
    box-shadow: 0px 4px 50px 0px rgba(150, 170, 187, 0.2);
    position: fixed;
    -webkit-animation: menuSlideDown 0.3s ease;
    animation: menuSlideDown 0.3s ease; 
    background: #fff;
     
}


  .dark-theme .nav-menu {
    background: /*#2a2e2f*/#00000024;
    -webkit-box-shadow: none;
    box-shadow: none;

   /* border-bottom: 1px solid #383e40;*/ }

.navbar {
  padding: 0rem 1rem; }

.navbar-nav {
  margin-left: auto; }

.navbar-light .navbar-nav .nav-link {
  color: #0095d7;
padding: 0;}
  .dark-theme .navbar-light .navbar-nav .nav-link {
    color: #ffffff; }

.navbar-light .navbar-nav .active > .nav-link{
/*
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .open > .nav-link 
*/
/*color: #0095d7;
    border-bottom: 2px solid #0095d7; */
color: #F47735;
    border-bottom: 2px solid #F47735;

  }

.nav-item {
  padding: 0 0 0 8px; }
  @media (max-width: 992px) {
    .nav-item {
      padding: 18px 0 0px 0; } }

.navbar-light .navbar-toggler {
  cursor: pointer; }

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #F47735!important;
  transition: 0.2s; }

/*.nav-link.color{
    color:#0095d7 !important;
    
}*/
.nav-link.color .active {
    border:2px solid #0095d7 !important;
    
}
.alignpara{
    text-align: justify!important;
}
.navbar-light .navbar-nav .active > .nav-link.change
/*.navbar-light .navbar-nav .nav-link.active,*/
/*.navbar-light .navbar-nav .nav-link.open,*/
/*.navbar-light .navbar-nav .open > .nav-link*/ {
/* color: #fff;*/
border-bottom: 2px solid #0095d7; }

.btn-custom{
background-color: transparent;
    color: #000;
    font-size: 18px;
}
.btn-custom:focus{
  box-shadow: none;
}
.btn-second-custom{
  background-color:#D32F2F;
color: #fff;
}
.custom-menu{
      width: 20rem !important;
      left: auto;
      right:0;
}
.sign-up{
      border-top: 1px solid #e9ecef;
}
.btn-custom:after{
    content: "\f107";
    font-family: FontAwesome;
    font-size: 14px;
    /* margin-left: 7px; */
    border: 0;
    vertical-align: middle;
    font-weight: 600;
    margin: 0;
    }
.btn-custom1{
    color:#f57c00;
    }
    .btn-custom1:hover{
      color:#f57c00;
    }
.btn-custom2{
    color:#d32f2f;
    }
    .btn-custom2:hover{
    color:#d32f2f;
    }
.btn-custom3{
    color:#00838f;
    }
    .btn-custom3:hover{
    color:#00838f;
    }
.btn-custom4{
    color:#1b5e20;
    }
    .btn-custom4:hover{
    color:#1b5e20;
    }
.author-form{
  border: 1px solid #f57c00;
}
.author-form2{
  border: 1px solid #d32f2f;
}
.author-form3{
  border: 1px solid #00838f;
}
.author-form4{
  border: 1px solid #1b5e20;
}
.author{
  background-color: #f57c00;
  color: #fff;
}
.author:hover{
  background-color: #f57c00;
  color: #fff;
}
.Editor-button{
  background-color: #d32f2f;
  color: #fff;
}
.Editor-button:hover{
  background-color: #d32f2f;
  color: #fff;
}
.reviewer-button{
  background-color:#00838f;
  color: #fff;
}
.reviewer-button:hover{
  background-color:#00838f;
  color: #fff;
}
.publisher-button{
  background-color:#1b5e20;
  color: #fff;
}
.publisher-button:hover{
  background-color:#1b5e20;
  color: #fff;
}
/*navbar end*/

/*carousel css*/
.carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    display: flex;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.orange-700{
color: #F57C00 !important;
}
.red-700{
color: #D32F2F !important;
}
.cyan-800{
color: #00838F !important;
}
.absolute-feature-icon{
position: absolute;
    bottom: 0;
    z-index: 100;
    opacity: .8;
    left: 0;
    right: 0;
    background-color: #3c3c3c;
    color: #fff;
    }
    .info-icon-box-wrapper .info-icon-box {
    border-right: 1px solid rgba(255,2255,255,.5);
    padding-left: 30px;
}
.info-icon-box {
    opacity: 1;
    padding: 10px 0;
    position: relative;
}
.info-icon-box .info-icon {
    margin-left: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.info-icon-details {
    margin-left: 50px;
}
.info-icon-details .icon-title {
    font-size: 16px;
    margin: 0;
    color: #fff;
    font-weight: 400;
}
.info-icon-details .icon-desc {
    font-size: 14px;
}
.carousel-title {
    color: #337ab7;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.2;
    text-shadow: 0 1px 2px #333;
    font-family: 'Lora';
    font-style: italic;
}
/*carousel css*/


/*about us tart*/
.sec-pad {
    padding: 40px 0;
    overflow: hidden;
}
.widget-title {
    margin-bottom: 10px;
    font-size: 28px;
}
.at-widget-title-wrapper {
    margin-bottom: 50px;
}

.single-item .icon {
    float: left;
}
.single-item .icon i {
    float: left;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 28px;
}
.author-icon i{
  border: 1px solid #f57c00;
  color: #f57c00;
}
.edictor-icon i{
   border: 1px solid #d32f2f;
  color:  #d32f2f;
}
.review-icon i{
   border: 1px solid #00838f;
  color: #00838f;
}
.custom-title1 a{
  color: #f57c00;
}
.custom-title2 a{
  color: #d32f2f;
}
.custom-title3 a{
  color: #00838f;
}
.single-item .title {
    padding-left: 100px;
    color: #0f0f0f;
}


.single-item .content {
    padding-left: 100px;
     font-size: 14px;
    font-weight: 400;
    color: #666;
    line-height: 30px;
}
/*about us end*/


/*service start*/
/*.single-list {
    padding: 10px;
}*/
.service-list {
    text-align: right;
    font-size: 13px;
    font-weight: 400;
    color: #666;
    line-height: 38px;
}
.single-service-content .title{
      font-size: 20px;
    font-weight: 500;
}
.details ul{
  list-style: none;
  padding: 0;
  margin:0;
}
.second-service-content h3{
    font-size: 20px;
    font-weight: 500;
    color: #666;
}
.second-service-content{
font-size: 13px;
    font-weight: 400;
    color: #666;
    line-height: 38px;
    }
/*service end*/


/*footer start */

.footer-color{
background-color: #131313;
color: #fff;
padding: 30px 0 30px;
}
/*footer end*/

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    z-index: 102;
       background-color: #3c3c3c;
    border-color: #3c3c3c;
    opacity: .8;
}
.back-to-top:hover{
 
    background-color:#3c3c3c;
    border-color: #3c3c3c;
    color: #fff;
    box-shadow: none;
    outline: none;
}
.back-to-top:hover i{
     color: #010065;
}
.back-to-top:active{
 
    background-color:#3c3c3c !important;
    border-color: #3c3c3c !important;
    box-shadow: none;
    outline: none;
}