<section>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
            <a class="navbar-brand" href="#">
                <img src="/assets/images/logo.jpg" width="100px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact">Contact</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" (click)="loginForm()">Login</a></li>
                </ul>
            </div>
        </nav>
    </div>
</section>

<router-outlet></router-outlet>

<footer class="footer-section">
    <div class="container">
        <div class="row footer-row">
            <div>
                <h3>NEWSLETTER</h3>
                <div class="input-group mb-3 mt-4">
                    <input type="text" class="form-control" placeholder="Enter email address"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn footer-button" type="button">Subscribe</button>
                    </div>
                </div>
                <p class="pt-3">© 2020 Srinadh. All rights reserved | Contact Us </p>
            </div>
        </div>
    </div>
</footer>