// footer section start
.footer-section{
	background-color: black;
	padding: 120px 0 120px 0;
	color: #fff;
	 display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.footer-button{
	background-color: rgb(199, 177, 153);
    color: #fff;
   
}
.footer-row{
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
// footer section end