<div class="common-transform">
  <ng-container>
    <span class="material-icons arrow-back" (click)="back()">arrow_back</span><span class="pl-3">Telegraph
      Transfer</span>
    <form [formGroup]="telegraphForm" #formDirective="ngForm" (ngSubmit)="telegraphSubmit(telegraphForm);" class="pt-3">
      <div class="row pt-3">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <!-- Goldcard Number -->
          <div class="form-group m-0">
            <label class="col-lg-4  common-label">Gold Card Number* :</label>
            <mat-form-field appearance="outline" class="custom-branch-select-outline col-lg-6  w-100">
              <input matInput placeholder="Enter Goldcard Number" formControlName="goldcardnumber" #goldcardnumber
                (keyup)="goldcardDetails(goldcardnumber.value)"  minlength="16" maxlength="16" pattern="\d{16}">
              <mat-error *ngIf="telegraphForm.get('goldcardnumber').hasError('required')">
                Goldcard Number is required
              </mat-error>
              <mat-error *ngIf="telegraphForm.get('goldcardnumber').hasError('pattern')">
                Enter 16 Numbers only
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- Account Number -->
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="form-group  m-0">
            <label class="col-sm-4 common-label1">Account Number :</label>
            <mat-form-field appearance="outline" class="custom-branch-select-outline  col-sm-6">
              <input matInput placeholder="Enter Account Number" formControlName="accountno" #accountnumber
                (keyup)="accountNumber(accountnumber.value)"  minlength="20" maxlength="20" pattern="^[a-zA-Z0-9]{20}$">
              <mat-error *ngIf="telegraphForm.get('accountno').hasError('required')">
                Account Number is required
              </mat-error>
              <mat-error *ngIf="telegraphForm.get('accountno').hasError('pattern')">
                Enter combination of 20 characters & Numbers only
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- Benificiary Bank Name -->
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="form-group  m-0" *ngIf="!bankname">
            <label class="col-sm-4 common-label1">Credit Bank:</label>
            <mat-form-field appearance="outline" class="custom-branch-select-outline col-sm-6">
              <mat-select matInput formControlName="bankname" placeholder="Select Bankname">
                <mat-option *ngFor="let bankname of banknames" [value]="bankname.bnknam">{{bankname.bnknam}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="telegraphForm.get('bankname').hasError('required')">
                Select Bank Name
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group  m-0" *ngIf="bankname">
            <label class="col-sm-4 common-label1">Credit Bank:</label>
            <mat-form-field appearance="outline" class="custom-branch-select-outline col-sm-6">
              <input matInput placeholder="Enter Bank Name" formControlName="bankname" readonly>
            </mat-form-field>
          </div>
        </div>
      </div>
      <!------------------------------------------------------------ Remitter Details --------------------------------------------------->
      <mat-card class="common-header mt-3">
        <h6 class="p-2 no-space">Remitter Details</h6>
      </mat-card>
      <mat-card class="creation-form">
        <div class="row pt-3">
          <!-- Remitter Name -->
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="form-group m-0">
              <label class="col-lg-6  common-label1">Name :</label>
              <mat-form-field appearance="outline" class="custom-branch-select-outline col-lg-6  w-100">
                <input matInput formControlName="applicantname" readonly>
              </mat-form-field>
            </div>
          </div>
          <!-- Remitter Mobile Number-->
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="form-group m-0">
              <label class="col-lg-6 common-label1">Mobile Number :</label>
              <mat-form-field appearance="outline" class="custom-branch-select-outline w-100 col-lg-6">
                <input matInput formControlName="applicantmobno" readonly>
              </mat-form-field>
            </div>
          </div>
          <!-- Remitter Address -->
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="form-group m-0">
              <label class="col-lg-6 common-label1">Address :</label>
              <mat-form-field appearance="outline" class="custom-branch-select-outline  col-lg-6  w-100">
                <input matInput formControlName="applicantadrress" readonly>
              </mat-form-field>
            </div>
          </div>
          <!-- Remitter Country -->
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="form-group m-0">
              <label class="col-lg-6 common-label1">Country :</label>
              <mat-form-field appearance="outline" class="custom-branch-select-outline  col-lg-6  w-100">
                <input matInput formControlName="country" readonly>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-card>
      <!----------------------------------------------------------- Benificiary Details ------------------------------------------------->
      <mat-card class="common-header">
        <h6 class="p-2 no-space">Payment Information</h6>
      </mat-card>
      <mat-card class="creation-form" id="style-4">
        <div class="row pt-3">
          <div class="col-lg-6">
            <!-- Benificiary Name -->
            <div class="form-group  m-0">
              <label class="col-sm-4 common-label1"> Benificiary Name:</label>
              <mat-form-field appearance="outline" class="custom-branch-select-outline  col-sm-6">
                <input matInput placeholder="Enter Name" formControlName="benfname" pattern="^[ A-Za-z_@./#&+-,%''()]*$"
                  minlength="2" maxlength="58">
                <mat-error *ngIf="telegraphForm.get('benfname').hasError('required')">
                  Enter Benificiary Name
                </mat-error>
                <mat-error *ngIf="telegraphForm.get('benfname').hasError('pattern')">
                  Enter Characters Only
                </mat-error>
                <mat-error *ngIf="telegraphForm.get('benfname').hasError('minlength')">
                  Enter minimum 2 Characters
                </mat-error>
              </mat-form-field>
            </div>
            <!-- Benificiary Mobile Number -->
            <div class="form-group  m-0">
              <label class="col-sm-4 common-label1">Mobile Number :</label>
              <mat-form-field appearance="outline" class="custom-branch-select-outline   col-sm-6">
                <input matInput placeholder="Enter Mobile Number" formControlName="benfmobileno"
                  onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" minlength="8" maxlength="15">
                <mat-error *ngIf="telegraphForm.get('benfmobileno').hasError('required')">
                  Mobile Number is required
                </mat-error>
                <mat-error *ngIf="telegraphForm.get('benfmobileno').hasError('minlength')">
                  Enter minimum 8 Numbers
                </mat-error>
              </mat-form-field>
            </div>
            <!-- Benificiary Address -->
            <div class="form-group  m-0">
              <label class="col-sm-4 common-label1">Address :</label>
              <mat-form-field appearance="outline" class="custom-branch-select-outline  col-sm-6">
                <input matInput placeholder="Enter Address" formControlName="benfaddr" minlength="10" maxlength="125">
                <!-- pattern="[A-Za-z0-9._/()+-]+,[A-Za-z0-9._/+()-]+,[A-Za-z0-9._/()+-]{0,40}$" maxlength="40" -->
                <mat-error *ngIf="telegraphForm.get('benfaddr').hasError('required')">
                  Address is required
                </mat-error>
                <mat-error *ngIf="telegraphForm.get('benfaddr').hasError('minlength')">
                  Enter minimum 10 characters
                </mat-error>
                <!-- <mat-error *ngIf="telegraphForm.get('benfaddr').hasError('pattern')">
                  Apartment No,Building Name,Street Name
                </mat-error> -->
              </mat-form-field>
            </div>
            <!-- Benificiary Currency  -->
            <div class="form-group  m-0">
              <label class="col-sm-4 common-label1">Currency:</label>
              <mat-form-field appearance="outline" class="custom-branch-select-outline  col-sm-6">
                <input matInput formControlName="currencyid" readonly>
              </mat-form-field>
            </div>
            <!-- Benificiary Rate -->
            <div class="form-group  m-0">
              <label class="col-sm-4 common-label1">Rate:</label>
              <mat-form-field appearance="outline" class="custom-branch-select-outline  col-sm-6">
                <input matInput formControlName="rate" readonly>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-6">
            <!-- FC Amount -->
            <div class="form-group  m-0" *ngIf="products.cntcurrency !=='AED'">
              <label class="col-sm-4 common-label1">FC Amount :</label>
              <mat-form-field appearance="outline" class="custom-branch-select-outline   col-sm-6">
                <input matInput formControlName="fcamount" readonly (keyup)="getcharges()">
              </mat-form-field>
            </div>
            <!-- LC Amount -->
            <div class="form-group  m-0">
              <label class="col-sm-4 common-label1">LC Amount :</label>
              <mat-form-field appearance="outline" *ngIf="products.cntcurrency === 'AED'"
                class="custom-branch-select-outline   col-sm-6">
                <input matInput formControlName="lcamount" readonly (keyup)="getcharges()">
              </mat-form-field>
              <mat-form-field appearance="outline" *ngIf="products.cntcurrency !== 'AED'"
                class="custom-branch-select-outline   col-sm-6">
                <input matInput formControlName="lcamount" [value]="calculations.lcamount" readonly>
              </mat-form-field>
            </div>
            <!-- VAT -->
            <div class="form-group  m-0">
              <label class="col-sm-4 common-label1">VAT :</label>
              <mat-form-field appearance="outline" class="custom-branch-select-outline  col-sm-6">
                <input matInput formControlName="vat" [value]="calculations.vat" readonly>
              </mat-form-field>
            </div>
            <!-- Charges -->
            <div class="form-group  m-0">
              <label class="col-sm-4 common-label1">Charges :</label>
              <mat-form-field appearance="outline" class="custom-branch-select-outline  col-sm-6">
                <input matInput formControlName="charges" readonly>
              </mat-form-field>
            </div>
            <!-- Total Amount -->
            <div class="form-group  m-0">
              <label class="col-sm-4 common-label1">Total Amount :</label>
              <mat-form-field appearance="outline" class="custom-branch-select-outline  col-sm-6">
                <input matInput formControlName="totalamount" [value]="calculations.totalamount" readonly>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-12 d-flex flex-row justify-content-center pt-4">
          <button type="button" class="cancel-button" (click)="reset(formDirective)">Reset</button>
          <button type="submit" class="label-button">Save</button>
        </div>
      </mat-card>
    </form>
  </ng-container>
</div>