<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
</head>

<body>

    <!-- navbar header start -->
    <header>
        <div class="container custom-container">
            <div class="complete-background">
                <div class="top-header">
                    <div class="row m-0">
                        <div class="col-lg-12 col-md-12 d-flex flex-column justify-content-center p-0">
                            <div class="header-logo">
                                <img src="assets/images/logo.jpg" width="100%">
                            </div>
                        </div>
                    </div>
                    <div class="row m-0 nav-header">
                        <div class="col-lg-9 col-md-9 col-sm-6 col-6">
                            <div>
                                <nav class="navbar navbar-expand-lg navbar-expand-md p-0">
                                    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
                                        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                        aria-label="Toggle navigation">
                                       <span><i class="fa fa-bars" aria-hidden="true"></i></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarNav">
                                        <ul class="navbar-nav custom-navbar">
                                            <li class="nav-item active">
                                                <a href="#">Home <span class="sr-only">(current)</span></a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#">About</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#">Editorail Board</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#">Contact</a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6 search-bar">
                            <ul>
                                <li>issn: 1307-9581</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- navbar header end -->


    <!-- home section start -->

    <section class="mt-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="card custom-card">
                       <h5 class="card-header custom-header">Menu</h5>
                       <ul class="quick-lists">
                           <li><a href="#"><i class="fas fa-angle-right mr-1"></i> Home</a></li>
                           <li><a href="#"><i class="fas fa-angle-right mr-1"></i> About</a></li>
                           <li><a href="#"><i class="fas fa-angle-right mr-1"></i> Editorial Board</a></li>
                           <li><a href="#"><i class="fas fa-angle-right mr-1"></i> Publication Principles</a></li>
                           <li><a href="#"><i class="fas fa-angle-right mr-1"></i> Aim & Scope</a></li>
                           <li><a href="#"><i class="fas fa-angle-right mr-1"></i> Peer Review Process</a></li>
                           <li><a href="#"><i class="fas fa-angle-right mr-1"></i> Ethics</a></li>
                           <li><a href="#"><i class="fas fa-angle-right mr-1"></i> Plagiarism</a></li>
                           <li><a href="#"><i class="fas fa-angle-right mr-1"></i> Open Acces Policy</a></li>
                           <li><a href="#"><i class="fas fa-angle-right mr-1"></i> Indexing & Abstracting</a></li>
                           <li><a href="#"><i class="fas fa-angle-right mr-1"></i> Archives</a></li>
                           <li><a href="#"><i class="fas fa-angle-right mr-1"></i> Statistics</a></li>
                           <li><a href="#"><i class="fas fa-angle-right mr-1"></i> Contact</a></li>
                       </ul>
                    </div>
                    <div class="card custom-card">
                       <h5 class="card-header custom-header">Menu</h5>
                       <div class="mt-3 left-side-images">
                           <p>
                               <img src="assets/images/left-image1.png" width="100%">
                           </p>
                            <p>
                               <img src="assets/images/left-image2.jpg">
                           </p>
                       </div>
                    </div>
                </div>
                <div class="col-lg-6">
                     <div class="card custom-card">
                       <h5 class="card-header custom-header">Home</h5>
                      <div class="pt-4">
                        <h5>Volume: 14     Issue: 77    April 2021</h5>
                        <img src="assets/images/shadow.png" width="100%" height="5px">
                        <ul class="list-view">
                          <li> 
                            <a href="#">Language - Literature
                            <img src="assets/images/shadow.png" width="100%" height="5px">
                            </a>
                          </li>
                          <li>
                             <a href="#">History - Political Sciences - International  Relations - Geography
                            <img src="assets/images/shadow.png" width="100%" height="5px"></a>
                          </li>
                          <li>  <a href="#">
                          Art - Art History - Architectural - Archaelogy
                          <img src="assets/images/shadow.png" width="100%" height="5px"></a>
                          </li>
                          <li>  <a href="#">
                          Sociology - Anthropology - Psychology - Philosophy
                          <img src="assets/images/shadow.png" width="100%" height="5px"></a>
                          </li>
                          <li>  <a href="#">
                            Education
                            <img src="assets/images/shadow.png" width="100%" height="5px"></a>
                          </li>
                          <li>  <a href="#">
                            Business - Economics -   Public Administration -  Tourism - Communication- Social Work
                            <img src="assets/images/shadow.png" width="100%" height="5px"></a>
                          </li>
                          <li>  <a href="#">
                            Theology
                            <img src="assets/images/shadow.png" width="100%" height="5px"></a>
                          </li>
                          <li>  <a href="#">
                            Social Sciences
                            <img src="assets/images/shadow.png" width="100%" height="5px"></a>
                          </li>
                        </ul>
                      </div>
                       <h5 class="card-header custom-header" style="background-color:#F0F0F0; height: 30px;border: none;"></h5>
                       <div class="middle-image">
                         <p><img src="assets/images/ebcsohost.jpg"></p>
                          <p><img src="assets/images/mla.jpg"></p>
                           <p><img src="assets/images/proquest.png"></p>
                       </div>
                       <div class="middle-image">
                         <p><img src="assets/images/indexcopernicus.png"></p>
                          <p><img src="assets/images/indexislamicus.jpg"></p>
                           <p><img src="assets/images/EuroPub_LOGO.png"></p>
                       </div>
                        <div class="middle-image">
                         <p><img src="assets/images/sobiad.png"></p>
                          <p><img src="assets/images/tei.jpg"></p>
                       </div>
                        <h5 class="card-header custom-header mb-2" style="background-color:#F0F0F0; height: 30px;border: none;"></h5>
                         <img src="assets/images/shadow.png" width="100%" height="5px">
                    </div>
                </div>
                <div class="col-lg-3">
                     <div class="card custom-card">
                       <h5 class="card-header custom-header">Announcements</h5>
                        <marquee onmouseover="this.stop();" onmouseout="this.start();" scrollamount="4" direction="up" height="170px" style="font-size: 10pt; text-align:center">
                          <p class="m-0">You can send your paper to editor@sosyalarastirmalar.com</p>
                          <p class="m-0">or</p>
                          <p>paper@sosyalarastirmalar.com</p>
                        </marquee>

                        <div>
                           <h5 class="card-header custom-header">Search</h5>
                           <div class="search-content">
                              <p class="m-0">You can send your paper to editor@sosyalarastirmalar.com</p>
                              <p class="m-0">or</p>
                              <p class="m-0">paper@sosyalarastirmalar.com</p>
                                <img src="assets/images/shadow.png" width="100%" height="5px">
                           </div>
                           <div>
                             <ul class="left-side-list">
                               <li>
                                 <em>The Journal of International Social Research&nbsp;/ Uluslararası Sosyal Araştırmalar Dergisi</em>
                                  ISSN: 1307-9581, an international, peer-reviewed, on the web publication, from 2007 will be issued least four times annualy.
                               </li>
                               <li>
                                 Our journal is an independent academic publication based on research in social sciences, contributing to its field and trying to publish scientific articles that will bring innovation to the original and social sciences.
                               </li>
                               <li>
                                 The journal has got an international editorial board and referee board, mainly embodied from the each individually professional on the social research fields.
                               </li>
                               <li>
                                 Uluslararası Sosyal Araştırmalar Dergisi / The Journal of International Social Research became a member of Cross Reff since 2014 and started to assign DOI numbers to the articles.
                                  <img src="assets/images/shadow.png" width="100%" height="5px">
                               </li>
                             </ul>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- home section end -->

    <footer class="pt-3">
      <div class="container">
        <div class="row">
          <div class="text-center w-100 footer-content">
          <p class="m-0">The Journal of International Social Research / Uluslararası Sosyal Araştırmalar Dergisi, ISSN: 1307-9581</p>
          <p class="m-0">Copyright 2021. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>