$primer-color: #0075FF;
$second-color: #082871;
$heading-color:#9F83FE;

$white-color:#ffffff;  
$shadow-color:#0000004A;
$transparent-color:transparent;
$red-color:#FF0000;
$dark-color:#273142;
$home-color:#E7EEF0;
$box-color:#4581C251;
$scroll-color:#6e6e6e;
$scroll-outline:#444;
$black-color:#000;
$tr-color:#E2E2E2;
$th-color:#EBF4FF;


$base-font : 16px;
$small-font : 14px;
$extra-small-font : 12px;
$heading :40px;
$sub-heading:32px;
$small-heading:26px;
$mini-heading:24px;

$assetPath:"/assets/images";