<div class="common-transform" *ngIf="showAllCurrency">
  <mat-card class="common-header">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-4 d-flex flex-column">
        <h6 class="pt-2 no-space">List of Currency Groups:</h6>
      </div>
      <div class="col-lg-7 col-md-7 col-6">
        <div class="text-center common-search">
          <input type="search" placeholder="search" [(ngModel)]="name" (keyup)="search(name)">
          <span class="material-icons search-icon">search</span>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-2 d-flex flex-row-reverse justify-content-center">
        <div class="pr-3 pt-2">
          <span class="material-icons cursor" (click)="addCurrencyGroup()">add</span>
        </div>
      </div>
    </div>
  </mat-card>
  <app-table [tableHeaders]='currencyhead' [currencydata]='currencylist'
    (editcurrencygroupdata)="editCurrencyGroup($event)" (currencyGroupNavigate)="CurrencyGroupNav($event)"></app-table>
</div>
<router-outlet></router-outlet>