<div class="common-transform">
    <mat-card class="common-header">
      <div class="row">
        <div class="d-flex flex-column">
          <h6 class="pt-2 no-space">Change Password</h6>
        </div>
      </div>
    </mat-card>
    <mat-card class="creation-form mt-4">
        <form [formGroup]="changepasswordForm" (ngSubmit)="changepasswordFields();" class="pt-3 pb-3">
            <div class="row pb-3">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group m-0">
                  <label class="col-lg-5  common-label">New Password:</label>
                  <mat-form-field appearance="outline" class="custom-branch-select-outline col-lg-7  w-100 custom-fill1">
                    <input matInput placeholder="" formControlName="userpassword"   [type]="hide1 ? 'password'  : 'text'">
                    <mat-icon mat-icon-button matSuffix (click)="hide1 = !hide1"  [attr.aria-pressed]="hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="changepasswordForm.get('userpassword').hasError('required')">
                      Enter New password
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
           
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-group m-0">
                <label class="col-lg-5 common-label">Confirm Password:</label>
                <mat-form-field appearance="outline" class="custom-branch-select-outline  col-lg-7 w-100 custom-fill1">
                  <input matInput placeholder="" formControlName="confirmpassword"   [type]="hide2 ? 'password'  : 'text'">
                  <mat-icon mat-icon-button matSuffix (click)="hide2 = !hide2"  [attr.aria-pressed]="hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="changepasswordForm.get('confirmpassword').hasError('required')">
                    Enter confirm Password
                  </mat-error>
                  <mat-error *ngIf="changepasswordForm.get('confirmpassword').hasError('error')">
                    New password and confirm password must be same
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
            <div class="col-12 d-flex flex-row justify-content-center pt-5">
              <!-- <button type="reset" class="cancel-button" (click)="showeditProfile()">Cancel</button> -->
              <button type="submit" class="label-button" >Update</button>
            </div>
          </form>
    </mat-card>
</div>        