h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #ffffff;
}

h5 {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.04em;

    color: #ffffff;
}
.container {
    width: 100%;
    max-width: 1420px;
}

.form-group {
    padding: 0px 0px 0px 0px;
}
.form-group > label {
    display: block;
    position: relative;
    padding: 38px 3px 16px 3px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.form-group > input {
    /* width: 400px; */
    height: 42px;
    background: #dc3f0e;
    box-shadow: inset 0px 4px 4px rgb(0 0 0 / 10%);
    border-radius: 2px;
    border: #dc3f0e;
    color: #ffffff;
}

.submit {
    padding: 31px 0px 0px 0px;
}
.btn-primary {
    width: 210.41px;
    border-radius: 50px;
    background: #339ff1;
    border: none;
    height: 46px;
}

input::placeholder {
    /*styles here*/
    color: #e1e1e1;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    width: 90%;
    /* or 164% */

    letter-spacing: 0.06em;
}

.card {
    width: 60%;
    margin: auto;
    background: #ee5d2f;
    border-radius: 15px;
}

.back-login {
     background: #ffffff;
}

.card-body {
    padding: 20px;
}
select {
    width: 100%;
    height: 36px;
    border: 0;
    border-radius: 2px !important;
    background: url(../../../assets/dropdown-white.png) no-repeat 99% #ffffff !important;
    -webkit-appearance: none;
    /* background-position-x: 100%;
    background-position-y: 5px; */
    background-size: 31px 25px !important;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 10%), 1px 0px 4px rgb(0 0 0 / 10%), 0px -1px 4px rgb(0 0 0 / 10%),
        -1px 0px 4px rgb(0 0 0 / 10%);
    background-color: #dc3f0e !important;
    box-shadow: inset 0px 4px 4px rgb(0 0 0 / 10%);
    border-radius: 2px;
    border: #dc3f0e;
    color: white;
    padding: 7px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
}

.err-msg {
    color:#ffffff;
}

@media  screen and (max-width:768px) {
    
    .card {
        width:100%
    }
}