<section class="home-section">
    <div class="container-fluid">
        <div class="row m-0">
            <div class="col-lg-12 home-flex">
                <div class="text-center">
                <h1>Contact US</h1>
                <h6 class="pt-3">LEVERAGE DATA TO DRIVE PERSONALIZATION AT SCALE</h6>
                <div class="pt-3">
                <button type="button" class="btn btn-sm home-button1">The Global Transition</button>
                <button type="button" class="btn btn-sm home-button2"><i class="fa fa-play" aria-hidden="true"></i> Explore</button>
            </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="second-section-banner">
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 p-0">
            <div class="second-off-banner">
                <div>
                    <h4>THE DIGITAL SAVVY PHARMA MARKETER 2020</h4>
                    <p class="pt-3 pb-3"> &quot;Must have tool for every pharma marketer&quot;</p>
                    <button type="button" class="btn btn-sm home-button2"><i class="fa fa-play" aria-hidden="true"></i> Download</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>