.matcard-width{
  max-width: 70%;
  margin: 0 0 0 76px;
  border: 1px solid #F61212;
  border-radius: 20px;
}
.mat-row{
  margin: 4px 0px -17px 0px !important;
}
.count{
  font-size: 20px;
  color: #F61212;
  font-weight: 500;
}
.name{
  color: #5B5B5B;
  font-size: 13px;
    font-weight: 500;
}
.matcard-width2{
  max-width: 70%;
  margin: 0 0 0 76px;
  border: 1px solid #FFBF50;
  border-radius: 20px;
}
.count2{
  font-size: 20px;
  color: #FFBF50;
  font-weight: 500;
}
.matcard-width3{
  max-width: 70%;
  margin: 0 0 0 76px;
  border: 1px solid #3AB7F5;
  border-radius: 20px;
}
.count3{
  font-size: 20px;
  color: #3AB7F5;
  font-weight: 500;
}
.matcard-width4{
  max-width: 70%;
  margin: 0 0 0 76px;
  border: 1px solid #BD4BFF;
  border-radius: 20px;
}
.count4{
  font-size: 20px;
  color: #BD4BFF;
  font-weight: 500;
}
.piechart-color{
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.21176470588235294);
  border-radius: 20px;
  width: 100%;
  padding: 24px 20px 24px 20px;
  margin: 0 0 30px 0;
}