




.theme-12 {
	--color-item-bg: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    --color-action: #ff4d73;
    --color-button-bg: #ff4d73;
    --color-button-text: #fff;
    --button-padding: 1.5rem 7rem;
    --radius-button: 40px;
    --border-button: 0;
}

