@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'feathericons';
	src:url('../fonts/feathericons/feathericons.eot?-8is7zf');
	src:url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'),
		url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'),
		url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'),
		url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg');
}

/*
.container {
	width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}
*/

/* Common style */
.container figure {
	position: relative;
	float: left;
	overflow: hidden;
/*
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
*/
/*	max-height: 360px;*/
/*	width: 48%;*/
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.container figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 1;
}

.container figure figcaption {
	padding: 2em;
	color: #0095d7;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity:0;
}

.container figure figcaption::before,
.container figure figcaption::after {
	pointer-events: none;
}

.container figure figcaption,
.container figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.container figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.container figure h2 {
	/*word-spacing: -0.15em;*/
	font-weight: 300;
}

.container figure h2 span {
	font-weight: 800;
}

.container figure h2,
.container figure p {
	margin: 0;
}

.container figure p {
	/*letter-spacing: 0.6px;*/
	font-size: 68.5%;
}



/*---------------*/
/***** Sarah *****/
/*---------------*/

figure.effect-sarah {
	background: black;
}

figure.effect-sarah img {
	max-width: none;
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-sarah:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah figcaption {
	text-align: left;
	font-size: 8px;

}
figure.effect-sarah:hover  figcaption {
	text-align: left;
    color:white;
	opacity:1;
}


figure.effect-sarah h2 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}

figure.effect-sarah h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.effect-sarah:hover h2::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	color:white;
}

figure.effect-sarah p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	font-size: 12px;
	
}

figure.effect-sarah:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	color:white;
	text-align: justify !important;
	/*word-spacing: 0.4px;*/
}

/*---------------*/
/***** Zoe *****/
/*---------------*/


@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.container figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}}

@media screen and (max-width:1060px) and (min-width:600px) {
	figure.effect-sarah p{
		font-size:8px !important;
	}
	figure.effect-sarah figcaption h2{
        font-size:10px!important;
	}}




/*
@media screen and (min-width:320px) {
	figure.effect-sarah p{
		font-size:20px !important;
	}
	figure.effect-sarah figcaption h2{
        font-size:25px!important;
	}

	}}

*/
