.menu{
	color: black;
}
.bg-color{
	background-color: #fff;
}
.dark-line{
	border-bottom: 1px solid #a0a0a0;
}
.home-section{
	background-color: #cccccc;
	height: 100vh;
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active-color{
	color: rgb(199, 177, 153);
}
.home-flex{
	    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 auto;
}
.home-button1{
	background-color: rgb(199, 177, 153);
    color: #fff;
    padding: 6px 30px 6px 30px;
    font-size: 16px;
}
.home-button2{
	    color: black;
    background-color: #fff;
    padding: 6px 50px 6px 16px;
    font-size: 16px;
}
.home-button2 i{
	background: black;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    width: 20px;
    height: 20px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    padding: 4px 0 0 1px;
}
.toggler-color{
	color: black !important;
	outline: none !important;
}
.home-list-none{
	list-style: none;
}
.home-list-none li{
	 background-color: rgb(199, 177, 153);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
        margin: 7px 0 0 15px;
}
.second-section-banner{
	background-image: url("images/bg.png");
	    min-height: 500px;
	    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-off-banner{
	background-color: rgba(178, 160, 140, 0.47);
	min-height:500px;
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-background{
	background-color: #E9A3A6;
	border-radius: 50%;
	text-align: center;
}
.fourth-section{
	background-image: url("images/asphalt.png");
	 min-height: 688px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 100%;
        position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.list-none{
	list-style: none;
}
.blog-height{
	min-height: 200px;
}
.custom-padding{
	padding: 0 0 0 15px;
}
.blog-section{
	    background-color:rgba(199, 177, 153, 0.36);
    /* padding: 90px 17px 30px 24px; */
    min-height: 228px;
    padding: 40px 0 0 24px;
}
.custom-padding2{
	padding: 0px 12px 0 0px;
}
.blog-section2{
	background-color: #fff;
    box-shadow: black;
    box-shadow: 0px 4px 50px 0px rgba(150, 170, 187, 0.2);
    min-height: 229px;
    padding: 34px 0 0 20px;

}
.section-pad{
	padding: 60px 0 60px 0;
}
.blog-color{
	color: #E9A3A6;
}
.fifty-section{
	padding: 80px 0 80px 0px;
}
.read-more{
	background-color: rgb(199, 177, 153);
    color: #fff;
}
.blog-section .list-none{
	color: #B69874;
}
.footer-section{
	background-color: black;
	padding: 120px 0 120px 0;
	color: #fff;
	 display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.footer-button{
	background-color: rgb(199, 177, 153);
    color: #fff;
   
}
.footer-row{
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}