<!-- <div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-light navbar-light fixed-top">

        <a href="#" class="navbar-brand">
            <img src="../../assets/images/logo-envato.png" alt="logo-envato" width="150" height="50" class="img-ffluid" class="d-inline-block align:top"/>
            <span class="logo-name"> SALES GROSS</span>
        </a>
       
              <button type="button"
              class="navbar-toggler"
              data-bs-toggle="collapse"
              data-bs-target="#navbarcollapse">
              <span class="navbar-toggler-icon"></span>

            </button>
              

                <div class="collapse navbar-collapse" id="navbarCollapse">
                
                   
                    <ul class="navbar-nav">
                         
                        <ul class="nav">
                       
                            
                        <li class="nav-item">
                            <a class="nav-link" href="#"> NIssan Dealershops <span class="add">//</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#"> All Salespeople <span class="add">//</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#" > New - Used</a>
                        </li>
                   
                    
                    </ul>
                        <li class="nav-item">
                            <button type="button" class="btn btn-primary btn-sm"> Analyze </button>
                        </li>
                          
                        <li class="setting"  style="transform: rotate(90deg);">
                            <a class="nav-link" href="#"> <i class="fa fas fas fa-sliders-h" aria-hidden="true"></i> </a>
                        </li>
                         
                        <li class="nav-item" >
                            <a class="nav-link" href="#" ><i class="far fa-clipboard"></i></a>
                        </li>

                        <li class="nav-item" >
                            <a class="nav-link" hreff="#"><i class="far fa-comment" fs-sm></i></a>
                        </li>

                        <li class="nav-item" >
                            <a class="nav-link"><i class="far fa-star"></i> </a>
                        </li>
                         
                        <li class="nav-item" >
                            <a class="nav-link" href="#" > <i class="far fa-envelope"></i></a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" href="#"><i class="far fa-comment"></i></a>
                        </li>

                        <li class="nav-item" >
                            <a class="nav-link" href="#"><i class="far fa-comment"></i></a>
                        </li>

                        <li class="nav-item">
                            <h6> Prasad Chavalli</h6>
                            <P> Super Admin</P>
                        </li>
                        <li class="nav-item">
                            <img src="../../assets/images/logo-envato.png" width="150" height="50" class="img-ffluid" class="d-inline-block align:top"/>
                        </li>
                    </ul>


                      
                </div>


    </nav>
</div>
   -->

<div class="container-fluid">  
      <div class="row align-items-start">
    
             <nav class="navbar navbar-expand-lg bg-light navbar-light fixed-top">
            <a href="#" class="navbar-brand">
                <img src="../../assets/images/logo-envato.png" width="150" height="50" class="img-fluid align-items-start d-inline-block" />
             <span class="logo-name"> SALES GROSS</span> </a>
             
                 

                
                

                   <div class="row align-items-start">
                       <div class="col">
                           <div class="second">
                           <a href="#" class="nav-item" > NIssan Dealershops  <span>//</span></a>
                          
                           <a href="#"  class="nav-item"> All Salespeople <span>//</span></a>
                          
                           <a href="#"  class="nav-item"> New - Used</a>
                           
                    
                          </div>
                          
                          

                         </div>
                       


                       </div>
                                 <div class="row">
                                     <div class="col">
                                      <button type="button" class="btn btn-primary" > Analzye</button>
                    
                                       </div>
                                    </div>
                                       <div class="row justify-content-center al">
                                       <div class="col flex-colimn">
                                           <div class="icon1">                                           
                                                <a href="#" class="nav-item"> <i class="fa fas fas fa-sliders-h" aria-hidden="true"></i> </a>
                                                </div>
                                             </div>
                                       </div> 
                                       <div class="row">
                                           <div class="col">
                                               <div class="icons-icon">
                                            <a href="#" class="nav-item"> <i class="fa fas fas fa-sliders-h" aria-hidden="true"></i> </a>
                                            <a href="#" class="nav-item"> <i class="fa fas fas fa-sliders-h" aria-hidden="true"></i> </a>
                                            <a href="#" class="nav-item"> <i class="fa fas fas fa-sliders-h" aria-hidden="true"></i> </a>
                                            <a href="#" class="nav-item"> <i class="fa fas fas fa-sliders-h" aria-hidden="true"></i> </a>
                                            <a href="#" class="nav-item"> <i class="fa fas fas fa-sliders-h" aria-hidden="true"></i> </a>
                                            <a href="#" class="nav-item"> <i class="fa fas fas fa-sliders-h" aria-hidden="true"></i> </a>
                                            </div>

                                           </div>
                                       </div>
                                       <div class="row">
                                            <div class="col">
                                                <div class="name">
                                                <h6> Prasad Chavalli</h6>
                                                <p> Super Admin</p>
                                                </div>
                                                </div>
                                       </div>

                                            
                                              
                                                <div class="col">
                                                    <div class="image">
                                                    <img src="../../assets/images/logo-envato.png" width="150" height="50" class="img-fluid d-inline-block align-top">
                                                    </div>
                                                </div>
                                            

                                           


                        
                            
                                     
             




        </nav>





    








    </div>
</div>